<style>
.container{width:100%;margin:auto}
@media (min-width:600px) {.container{width: 80%;}}
@media (min-width:768px) {.container{width: 60%;}}
@media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Welcome to Singapore, NTU</h1>
  <p><image src="https://media.istockphoto.com/id/1318302966/photo/aerial-view-of-complex-overpass-and-busy-traffic.jpg?s=1024x1024&w=is&k=20&c=0lTKWUdiYd_KCV7a7Mx7bgth2kIEdxBdmrLp-jp6eqw="
       width="100" height="200"></p>
<form action="/main" method="post">
  <h2>My name is Ah Bao, may I know your name : </h2>
  <input type = "text" name="r">
  <input type = "submit" value="Enter" style="width:200px;height:100px;">
</form>
</div>
